a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
}

body {
    padding: 0;
    max-width: 100%;
    min-width: 920px;
    font-family: 'PT Sans', sans-serif;
}

.header {
    background-color: #243B93;
    margin: 0;
}

.header__wrapper {
    width: 1320px;
    margin: 0 auto;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__block:hover>.header__logo>img{
    transform: scale(1.1);
}

.nav {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__list {
    display: flex;
    text-align: center;

}

.nav__link {
    margin-right: 35px;
    color: white;

}

.nav__link:hover {
    color: #FFF500;
    transition: color .15s ease;

}

.nav__block {
    display: flex;
    align-items: center;
}

.nav__img {
    margin-right: 10px;
}

.nav__lang {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 36px;
    text-align: center;
    color: white;
}

/*header*/

/*main*/

/*section intro start*/

.intro {
    max-height: 85px;
    background-color: #BFF0FF;

}

.intro__wrapper {
    max-width: 1320px;
    margin: 0 auto;

}

.intro__title {
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 2.75rem;
    line-height: 57px;
    color: #202846;
}

/*section intro end*/

/*section info start*/

/*search start*/

.info {
    background-color: #FBE4FF;
}

.search {
    display: block;
    padding-top: 37px;


}

.search__wrapper {
    margin: 0 auto;
    width: 1320px;
    height: 57px;
    border: 1px solid white;
    background-color: white;

}

.search__text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, .61);
}

/*search end*/

/*cards start*/

.card__wrapper {
    position: relative;
    margin: 42px auto;
    width: 1321px;
    height: 300px;
    display: flex;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
}

.card__wrapper:last-child {
    margin-bottom: 0;
}

.card__img {
    margin-left: 52px;
    margin-top: 33px;
    margin-right: 33px;
    width: 447px;

}

.card__img:hover{
    transform: scale(1.1);
}

.card__title {
    font-weight: 700;
    font-style: italic;
    font-size: 2.2rem;
    line-height: 47px;
    color: #353C57;
    border-bottom: 3px solid white;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.discription__block {
    border: solid #EDFBFF;
    width: 739px;
    height: 205px;
    background-color: #EDFBFF;
    box-sizing: border-box;
    
}

.card__discription {
    font-weight: 400;
    font-size: 22px;
    line-height: 28.5px;
    color: #202846;
    border: solid #EDFBFF;

}

.card__star {
    background-image: url(../image/біла\ зірка.svg);
    width: 48px;
    height: 46px;
    top: 6px;
    right: 10px;
    position: absolute;

}

.card__btn {
    display: block;
    width: 210px;
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    padding-top: 10px;
    top: 235px;
    right: -34px;
    text-align: center;
    position: absolute;

}
.btn__link {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 31px;
    color: white;
    display: block;
}
.card__wrapper:hover {
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 40px 4px rgba(44, 189, 235, 1);
    transition: all .2s ease;

}

.card__wrapper:hover>.card__link>.card__star {
    background-image: url(../image/зірка.svg);
    
}
.card__wrapper:hover>.card__link>.card__btn {
    background-color: #EF075B;
    
}
.card__btn:hover{
   transition: all .2s ease; 
}


/*cards end*/